:root {
  --black: #1F1F1F;
  --true-black: #000000;
}

$black: #1F1F1F;
$white: #fffff;
$true-black: #000000;
$brand-one: rgb(27, 159, 214);
$grey: #8E8E8E;

section, header, footer {
  width: 100%;
  box-sizing: border-box;
  .inner_wrapper {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    &.row {
      display: inline-flex;
    }
  }
  .block, figure {
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block;
    .inner_block {
      box-sizing: border-box;
    }
    img {
      max-width: 100%;
    }
  }
}

.constrain {
  max-width: calc(100% - calc(100% - 1600px));
  margin: auto;
  padding: 0 3em;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  section.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    z-index: 20;
    .inner_wrapper {
      width: auto;
      display: inline-block;
      .block {
        max-width: 250px;
      }
    }
    @media only screen and (max-width: 750px) {
      max-width: 200px;
    }
    @media only screen and (max-width: 600px) {
      max-width: 150px;
    }
  }
}

.bottom_row {
  width: 100%;
  display: inline-flex;
  min-height: 150px;
  padding: 0;
  flex-direction: column;
  flex-wrap: wrap;

  @media only screen and (max-width: 1000px) {
    .block {
      flex: 1 1 49%;
      width: 49%;
      margin-bottom: 0.5rem;
      &:nth-child(1) {
        margin-right: 0.25rem;
      }
      &:nth-child(2) {
        margin-left: 0.25rem;
      }
      &:nth-child(3) {
        margin-right: 0.25rem;
      }
      &:nth-child(4) {
        margin-left: 0.25rem;
      }
    }
  }
  @media only screen and (max-width: 750px) {
    .block {
      flex: 1 1 100%;
      width: 100%;
      margin-bottom: 0.5rem;
      &:nth-child(1n) {
        margin: 0;
        margin-bottom: 0.5rem;
      }
    }
  }
  @media only screen and (min-width: 750px) {
    flex-direction: row;

  }
  @media only screen and (min-width: 1000px) {
    height: 15vh;
    //padding-left: 120px;
    flex-direction: row;
    flex-wrap: nowrap;

  }
}

footer {
  height: 10vh;
  position: relative;
  .inner_wrapper.ticker {
    background-color: $white;
    width: 100vw;
    //display: inline-flex;
    height: 5vh;
    border-left: 5px solid $brand-one;
    border-bottom: 1px solid $brand-one;
    padding-left: 1rem;
    box-sizing: border-box;
    display: none;

    * {
      color: $black;
    }
    .block {
      width: auto;
      margin-right: 20px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      min-width: 120px;
      h6 {
        margin: 0;
        padding: 0 1rem;
        border-right: 2px solid $black;
      }
    }
  }
  .inner_wrapper.footer-nav {
    background-color: $white;
    text-align: center;
    .block {
      padding: 0.2rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    nav.block {
      height: 5vh;
      ul{
        z-index: 3;
      }
    }
    .block.copy {
      height: 5vh;
    }
  }
  .inner_wrapper.acred {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    top: 0;
    .block {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      &.visa {
        justify-content: flex-start;
      }
      &.social {
        justify-content: flex-end;
        padding-right: 1rem;
        img {
          width: 30px;
          flex-direction: row;
          margin-right: 5px;
        }
      }
    }
    @media only screen and (min-width: 1200px) {
      position: absolute;
    }
  }
}

.ticker {
  overflow: hidden;
  position: relative;

}

.ticker .block {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  transform: translateX(100%);
  /* Apply animation to this element */
  animation: example1 30s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes example1 {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes example1 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes example1 {
  0% {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}