/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                      http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
:root {
  --black: #1F1F1F;
  --true-black: #000000; }

section, header, footer {
  width: 100%;
  box-sizing: border-box; }
  section .inner_wrapper, header .inner_wrapper, footer .inner_wrapper {
    width: 100%;
    position: relative;
    box-sizing: border-box; }
    section .inner_wrapper.row, header .inner_wrapper.row, footer .inner_wrapper.row {
      display: inline-flex; }
  section .block, section figure, header .block, header figure, footer .block, footer figure {
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block; }
    section .block .inner_block, section figure .inner_block, header .block .inner_block, header figure .inner_block, footer .block .inner_block, footer figure .inner_block {
      box-sizing: border-box; }
    section .block img, section figure img, header .block img, header figure img, footer .block img, footer figure img {
      max-width: 100%; }

.constrain {
  max-width: calc(100% - calc(100% - 1600px));
  margin: auto;
  padding: 0 3em;
  box-sizing: border-box; }

* {
  box-sizing: border-box; }

body {
  position: relative;
  margin: 0; }
  body section.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    z-index: 20; }
    body section.logo .inner_wrapper {
      width: auto;
      display: inline-block; }
      body section.logo .inner_wrapper .block {
        max-width: 250px; }
    @media only screen and (max-width: 750px) {
      body section.logo {
        max-width: 200px; } }
    @media only screen and (max-width: 600px) {
      body section.logo {
        max-width: 150px; } }

.bottom_row {
  width: 100%;
  display: inline-flex;
  min-height: 150px;
  padding: 0;
  flex-direction: column;
  flex-wrap: wrap; }
  @media only screen and (max-width: 1000px) {
    .bottom_row .block {
      flex: 1 1 49%;
      width: 49%;
      margin-bottom: 0.5rem; }
      .bottom_row .block:nth-child(1) {
        margin-right: 0.25rem; }
      .bottom_row .block:nth-child(2) {
        margin-left: 0.25rem; }
      .bottom_row .block:nth-child(3) {
        margin-right: 0.25rem; }
      .bottom_row .block:nth-child(4) {
        margin-left: 0.25rem; } }
  @media only screen and (max-width: 750px) {
    .bottom_row .block {
      flex: 1 1 100%;
      width: 100%;
      margin-bottom: 0.5rem; }
      .bottom_row .block:nth-child(1n) {
        margin: 0;
        margin-bottom: 0.5rem; } }
  @media only screen and (min-width: 750px) {
    .bottom_row {
      flex-direction: row; } }
  @media only screen and (min-width: 1000px) {
    .bottom_row {
      height: 15vh;
      flex-direction: row;
      flex-wrap: nowrap; } }

footer {
  height: 10vh;
  position: relative; }
  footer .inner_wrapper.ticker {
    background-color: #fffff;
    width: 100vw;
    height: 5vh;
    border-left: 5px solid #1b9fd6;
    border-bottom: 1px solid #1b9fd6;
    padding-left: 1rem;
    box-sizing: border-box;
    display: none; }
    footer .inner_wrapper.ticker * {
      color: #1F1F1F; }
    footer .inner_wrapper.ticker .block {
      width: auto;
      margin-right: 20px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      min-width: 120px; }
      footer .inner_wrapper.ticker .block h6 {
        margin: 0;
        padding: 0 1rem;
        border-right: 2px solid #1F1F1F; }
  footer .inner_wrapper.footer-nav {
    background-color: #fffff;
    text-align: center; }
    footer .inner_wrapper.footer-nav .block {
      padding: 0.2rem;
      display: inline-flex;
      justify-content: center;
      align-items: center; }
    footer .inner_wrapper.footer-nav nav.block {
      height: 5vh; }
      footer .inner_wrapper.footer-nav nav.block ul {
        z-index: 3; }
    footer .inner_wrapper.footer-nav .block.copy {
      height: 5vh; }
  footer .inner_wrapper.acred {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    top: 0; }
    footer .inner_wrapper.acred .block {
      display: inline-flex;
      justify-content: center;
      align-items: center; }
      footer .inner_wrapper.acred .block.visa {
        justify-content: flex-start; }
      footer .inner_wrapper.acred .block.social {
        justify-content: flex-end;
        padding-right: 1rem; }
        footer .inner_wrapper.acred .block.social img {
          width: 30px;
          flex-direction: row;
          margin-right: 5px; }
    @media only screen and (min-width: 1200px) {
      footer .inner_wrapper.acred {
        position: absolute; } }

.ticker {
  overflow: hidden;
  position: relative; }

.ticker .block {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  transform: translateX(100%);
  /* Apply animation to this element */
  animation: example1 30s linear infinite; }

/* Move it (define the animation) */
@-moz-keyframes example1 {
  0% {
    -moz-transform: translateX(100%); }
  100% {
    -moz-transform: translateX(-100%); } }
@-webkit-keyframes example1 {
  0% {
    -webkit-transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(-100%); } }
@keyframes example1 {
  0% {
    -moz-transform: translateX(100%);
    /* Firefox bug fix */
    -webkit-transform: translateX(100%);
    /* Firefox bug fix */
    transform: translateX(100%); }
  100% {
    -moz-transform: translateX(-100%);
    /* Firefox bug fix */
    -webkit-transform: translateX(-100%);
    /* Firefox bug fix */
    transform: translateX(-100%); } }
/*------------------------------------*\
    # Simple Typography Settings
\*------------------------------------*/
/*------------------------------------*\
    # Type
\*------------------------------------*/
*, html, body {
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  margin: 12px 0 12px 0;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  line-height: 1.25em;
  font-weight: 700; }

h1 {
  font-size: 3rem;
  text-transform: uppercase; }
  h1 strong {
    font-size: 3rem;
    font-weight: 800; }
  @media only screen and (max-width: 1000px) {
    h1 {
      font-size: 2.0833333333rem; } }
  @media only screen and (max-width: 750px) {
    h1 {
      font-size: 1.6666666667rem; } }

h2 {
  font-size: 1.7857142857rem;
  text-transform: uppercase;
  font-weight: 400; }
  h2 strong {
    font-size: 1.7857142857rem;
    font-weight: 800; }
  h2 + p {
    font-size: 1.1363636364rem;
    margin: 12px 0 14.4px 0; }
  @media only screen and (max-width: 1200px) {
    h2 {
      font-size: 1.5625rem; } }

h3, h3 span {
  font-size: 1.6666666667rem;
  font-weight: 400;
  text-transform: uppercase; }
  h3 strong, h3 span strong {
    font-size: 1.6666666667rem;
    font-weight: 800; }

h4 {
  font-size: 1.3157894737rem;
  font-weight: 400;
  text-transform: uppercase; }
  h4 strong {
    font-size: 1.3157894737rem;
    font-weight: 800; }

h5 {
  font-size: 1.25rem;
  font-weight: 400; }
  h5 strong {
    font-size: 1.25rem;
    font-weight: 800; }

h6, h6 a {
  font-size: 0.7142857143rem;
  font-weight: 400; }
  h6 strong, h6 a strong {
    font-size: 0.7142857143rem;
    font-weight: 800; }

p {
  margin-top: 10px;
  font-size: 0.8333333333rem;
  line-height: 1.5em;
  color: #505050;
  margin-bottom: 10px; }
  p:first-of-type {
    margin-top: 0; }

a {
  color: #4eaff6;
  text-decoration: none; }
  a:hover {
    color: #1d99f4; }

ul, ol {
  margin: 10px 0 0 20px; }
  ul li, ol li {
    margin-top: 10px;
    line-height: 1.5em;
    color: #505050;
    font-size: 0.8333333333rem; }
  ul ul, ul ol, ol ul, ol ol {
    margin-top: 0; }

form {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box; }
  form fieldset {
    display: inline-block;
    box-sizing: border-box;
    padding: 1rem; }

.group {
  position: relative;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.8rem; }
  .group.half {
    width: 49%; }
    @media only screen and (max-width: 600px) {
      .group.half {
        width: 100%; } }

.inputMaterial {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: inline-block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  box-sizing: border-box; }

.inputMaterial:focus {
  outline: none; }

legend {
  margin-bottom: -1rem; }

/* LABEL ======================================= */
.group.no-style {
  text-align: left; }
  .group.no-style label {
    position: relative;
    left: 0;
    top: 0; }

label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label {
  top: -8px;
  font-size: 14px;
  color: #1B9FD6; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #1B9FD6;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width: 50%; }

/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }
.select-style {
  border-radius: 3px;
  overflow: hidden; }
  .select-style select {
    border: 1px solid #ccc !important; }
  @media only screen and (min-width: 750px) {
    .select-style {
      width: 50%; } }

.select-style select {
  padding: 5px 8px;
  width: 100%;
  border: none;
  color: #999; }

.select-style select:focus {
  outline: none; }

.label label {
  position: relative; }

.select-style.label label {
  margin-bottom: 10px;
  display: inline-block; }

section.main {
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  width: 100%; }
  section.main .top_row {
    width: 100%;
    display: inline-flex;
    min-height: 650px; }
    @media only screen and (min-width: 1000px) {
      section.main .top_row {
        min-height: 75vh; } }
    @media only screen and (max-width: 1000px) {
      section.main .top_row {
        flex-direction: column; } }

section.secondary {
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  width: 100%; }
  section.secondary .top_row {
    width: 100%;
    display: inline-flex;
    min-height: 600px;
    height: auto; }
    @media only screen and (min-width: 1000px) {
      section.secondary .top_row {
        min-height: 75vh; } }
    @media only screen and (max-width: 1000px) {
      section.secondary .top_row {
        flex-direction: column; } }
    section.secondary .top_row .block.content {
      display: inline-flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      flex: 1 1 90%;
      padding: 5% 2.5%; }
      @media only screen and (min-width: 1000px) {
        section.secondary .top_row .block.content {
          padding: 12% 5%; } }
      @media only screen and (max-width: 1000px) {
        section.secondary .top_row .block.content {
          padding-top: 7.5rem; } }
      @media only screen and (max-width: 750px) {
        section.secondary .top_row .block.content {
          padding-top: 3.5rem; } }
      @media only screen and (max-width: 600px) {
        section.secondary .top_row .block.content {
          padding-top: 2.5rem; } }

button {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  button:active {
    outline: none; }
  button:hover {
    outline: none; }

.button-primary, input[type=submit] {
  padding: 10px 20px;
  display: inline-block;
  font-size: 0.8333333333rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 500px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  background: #1B9FD6;
  margin: 0.5rem 0 0 0;
  border: none;
  color: #ffffff; }
  .button-primary:hover, input[type=submit]:hover {
    background-color: #A1DAF8;
    color: #ffffff;
    outline: none; }
  .button-primary:active, .button-primary.focus, input[type=submit]:active, input[type=submit].focus {
    background-color: #A1DAF8;
    color: #ffffff;
    outline: none; }
  .button-primary:focus, input[type=submit]:focus {
    background-color: #F7A700;
    color: #ffffff;
    outline: none; }
  @media only screen and (max-width: 768px) {
    .button-primary, input[type=submit] {
      padding: 15px 25px; } }

input[type=submit] {
  width: auto;
  float: right;
  border: none; }

input[type=number] {
  width: 100%;
  color: #ffffff; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff; }

.button-primary.choices {
  background: #8E8E8E;
  margin: 0.5rem 0 0 0;
  border: none;
  font-size: 0.8333333333rem; }
  .button-primary.choices:hover {
    background-color: #1B9FD6;
    color: #ffffff; }
  .button-primary.choices:active, .button-primary.choices.focus {
    background-color: #1B9FD6;
    color: #ffffff; }
  .button-primary.choices:focus {
    background-color: #1B9FD6;
    color: #ffffff;
    outline: none; }

.button-secondary {
  padding: 10px 20px;
  display: inline-block;
  font-size: 0.8333333333rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 500px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  margin: 0.5rem 0 0 0;
  color: #1B9FD6;
  border: 1px solid #1B9FD6; }
  .button-secondary:hover {
    background-color: #1B9FD6;
    color: #ffffff;
    outline: none; }
  .button-secondary:active {
    background-color: #A1DAF8;
    color: #ffffff;
    outline: none; }
  .button-secondary:focus {
    background-color: #F7A700;
    color: #ffffff;
    outline: none; }
  @media only screen and (max-width: 768px) {
    .button-secondary {
      padding: 15px 25px; } }

.block.draw {
  flex-direction: column;
  text-align: center;
  width: 30%;
  min-width: 250px;
  display: inline-flex;
  justify-content: space-between;
  flex: 1 1 30%; }
  @media only screen and (max-width: 1000px) {
    .block.draw {
      width: 100%; } }
  .block.draw > div {
    padding: 1rem; }
  .block.draw .text-left {
    text-align: left; }

@media only screen and (max-width: 1000px) {
  .block.home {
    width: 100%;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-bottom: 0.5rem; } }
.block.home *:not(a) {
  margin: 0; }
.block.home > div {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 1000px) {
    .block.home > div {
      width: 29%; } }
  @media only screen and (max-width: 750px) {
    .block.home > div {
      width: 100%; } }
.block.home .inner_top {
  background-color: #ffffff;
  flex: 1 1 25%; }
  .block.home .inner_top h4 {
    color: #1B9FD6; }
  .block.home .inner_top h1 {
    color: #1B9FD6; }
  .block.home .inner_top a {
    color: #2b2b2b; }
  @media only screen and (max-width: 1000px) {
    .block.home .inner_top {
      flex: 1 1 50%;
      width: 50%;
      order: 3;
      border: 1px solid #1B9FD6; } }
  @media only screen and (max-width: 600px) {
    .block.home .inner_top {
      flex: 1 1 100%;
      width: 100%;
      order: 1; } }
.block.home .inner_mid {
  flex: 1 1 45%;
  background: linear-gradient(to right, rgba(27, 159, 214, 0.8) 0%, rgba(27, 159, 214, 0.8) 100%), url("../img/hero.jpg") center center/cover no-repeat; }
  .block.home .inner_mid * {
    color: #ffffff; }
  .block.home .inner_mid .verses img {
    display: inline-block;
    max-width: 100px; }
  .block.home .inner_mid .verses p, .block.home .inner_mid .verses h1, .block.home .inner_mid .verses h2, .block.home .inner_mid .verses h3, .block.home .inner_mid .verses h4, .block.home .inner_mid .verses h5, .block.home .inner_mid .verses h6 {
    display: inline-block; }
  @media only screen and (max-width: 1000px) {
    .block.home .inner_mid {
      flex: 1 1 50%;
      width: 50%;
      order: 2; } }
  @media only screen and (max-width: 600px) {
    .block.home .inner_mid {
      flex: 1 1 100%;
      width: 100%;
      order: 2; } }
.block.home .inner_bottom {
  flex: 1 1 30%;
  background-color: #ffffff; }
  .block.home .inner_bottom *:not(a) {
    color: #2b2b2b; }
  @media only screen and (max-width: 1000px) {
    .block.home .inner_bottom {
      flex: 1 1 100%;
      width: 100%;
      order: 1; } }
  @media only screen and (max-width: 600px) {
    .block.home .inner_bottom {
      order: 3; } }

.block.step-one {
  flex-direction: row; }
  .block.step-one .inner_top, .block.step-one .inner_mid, .block.step-one .inner_bottom {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 1000px) {
      .block.step-one .inner_top, .block.step-one .inner_mid, .block.step-one .inner_bottom {
        padding: 0 1rem; } }
  .block.step-one .inner_top {
    flex: 1 1 25%; }
  .block.step-one .inner_mid {
    flex: 1 1 40%; }
    .block.step-one .inner_mid h2 {
      color: #1B9FD6;
      width: 100%; }
    .block.step-one .inner_mid input[type=number] {
      width: 130px;
      color: #ffffff; }
    .block.step-one .inner_mid .options-wrap {
      width: 100%; }
  .block.step-one .inner_bottom {
    flex: 1 1 25%;
    justify-content: flex-start; }

.block.step-two form {
  margin-top: 0.5rem; }

.block.step-three .embed-container {
  flex: 1 1 80%; }
  @media only screen and (max-width: 1000px) {
    .block.step-three .embed-container {
      min-height: 700px; } }
.block.step-three .inner {
  flex: 1 1 20%;
  border-top: 1px solid #1B9FD6; }

.block.step-four > div {
  flex: 1 1 30%; }
.block.step-four .inner_mid {
  display: inherit;
  flex-direction: column; }
  .block.step-four .inner_mid .social {
    margin-bottom: 1rem; }
    .block.step-four .inner_mid .social button {
      background: #1B9FD6;
      padding: 0.5rem;
      border-radius: 60%; }
      .block.step-four .inner_mid .social button:before {
        color: #ffffff; }
  .block.step-four .inner_mid hr {
    margin: auto auto 0 auto;
    width: 90%;
    justify-self: center; }

.block.hero {
  padding: 2rem 6rem 2rem 2rem;
  width: 60%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  flex: 1 1 60%;
  background-blend-mode: multiply; }
  @media only screen and (min-width: 1000px) {
    .block.hero {
      min-width: 600px; } }
  @media only screen and (max-width: 1000px) {
    .block.hero {
      width: 100%;
      padding: 9rem 6rem 2rem 2rem; } }
  @media only screen and (max-width: 600px) {
    .block.hero {
      padding: 2rem 2rem 2rem 2rem;
      text-align: right; } }
  .block.hero * {
    width: 100%;
    color: #ffffff; }
  .block.hero h1 {
    margin-bottom: 0; }
  .block.hero h4 {
    margin-bottom: 0;
    text-transform: inherit; }
  .block.hero.step-one {
    background: linear-gradient(to bottom, rgba(32, 124, 202, 0) 0%, rgba(16, 62, 101, 0) 50%, rgba(8, 30, 48, 0.3) 76%, rgba(0, 0, 0, 0.5) 100%), url("../img/hero.jpg") center center/cover no-repeat; }

.sub-page.block {
  text-align: left;
  width: 24.7%;
  min-width: 100px;
  display: inline-flex;
  align-items: flex-start;
  flex: 1 1 25%;
  padding: 2rem 1.5rem 1.5rem 3rem; }
  .sub-page.block * {
    color: #ffffff; }
  .sub-page.block h3 {
    font-size: 1.4705882353rem; }
    .sub-page.block h3:after {
      content: '>';
      margin-top: 0;
      display: inline-block;
      position: absolute; }
  @media only screen and (max-width: 1200px) {
    .sub-page.block {
      padding: 2rem; } }
  @media only screen and (max-width: 1000px) {
    .sub-page.block {
      width: 49%; } }
  @media only screen and (max-width: 750px) {
    .sub-page.block {
      padding: 2rem;
      width: 100%; } }
  .sub-page.block p, .sub-page.block h1, .sub-page.block h2, .sub-page.block h3, .sub-page.block h4, .sub-page.block h5, .sub-page.block h6 {
    margin: 0; }
  .sub-page.block:nth-child(1) {
    background: linear-gradient(to right, rgba(27, 159, 214, 0.8) 0%, rgba(27, 159, 214, 0.8) 100%), url("../img/hero.jpg") center center/cover no-repeat; }
  .sub-page.block:nth-child(2) {
    background: linear-gradient(to right, rgba(27, 159, 214, 0.8) 0%, rgba(27, 159, 214, 0.8) 100%), url("../img/hero.jpg") center center/cover no-repeat; }
  .sub-page.block:nth-child(3) {
    background: linear-gradient(to right, rgba(27, 159, 214, 0.8) 0%, rgba(27, 159, 214, 0.8) 100%), url("../img/hero.jpg") center center/cover no-repeat; }
  .sub-page.block:nth-child(4) {
    background: linear-gradient(to right, rgba(27, 159, 214, 0.8) 0%, rgba(27, 159, 214, 0.8) 100%), url("../img/hero.jpg") center center/cover no-repeat;
    min-width: 30%;
    flex: 1 1 30%; }

header.block.side_bar {
  padding: 11rem 1rem 0 1rem;
  width: 10%;
  min-width: 150px; }
  header.block.side_bar ul {
    padding: 0;
    margin: 0; }
    header.block.side_bar ul li {
      list-style: none;
      border-bottom: 1px solid #1B9FD6; }
      header.block.side_bar ul li a {
        padding: 0 0 0 0.25rem; }
      header.block.side_bar ul li:before {
        color: #1B9FD6;
        width: 20px;
        display: inline-block; }
  header.block.side_bar .mobile_button {
    display: none; }
  @media only screen and (min-width: 1000px) {
    header.block.side_bar {
      flex: 1 1 10%; } }
  @media only screen and (max-width: 1000px) {
    header.block.side_bar {
      padding: 0 1rem 0 15rem;
      width: 100%;
      max-width: unset; }
      header.block.side_bar ul {
        padding: 1rem 0; }
        header.block.side_bar ul li {
          display: inline-block;
          margin-right: 1rem; } }
  @media only screen and (max-width: 900px) {
    header.block.side_bar {
      display: inline-flex;
      justify-content: space-between;
      flex-direction: row; }
      header.block.side_bar .mobile_button {
        display: block;
        padding: 1rem 0.5rem;
        font-size: 30px; }
        header.block.side_bar .mobile_button:before {
          color: #1B9FD6; }
      header.block.side_bar .closebtn {
        display: block;
        padding: 1rem;
        font-size: 30px; }
        header.block.side_bar .closebtn:before {
          color: #1B9FD6; }
      header.block.side_bar ul.main-nav {
        display: none; } }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999999;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);
  overflow-x: hidden;
  transition: 0.5s; }
  .sidenav nav {
    padding: 1rem; }
    .sidenav nav ul li {
      display: block !important; }

.footer-nav nav.block {
  width: 100%; }
  .footer-nav nav.block ul {
    margin: 0;
    padding: 0; }
    .footer-nav nav.block ul li {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block; }
      .footer-nav nav.block ul li a {
        color: #2b2b2b;
        font-size: 0.7142857143rem;
        padding-right: 0.5rem; }
        .footer-nav nav.block ul li a:after {
          content: '|';
          padding-left: 0.5rem; }
      .footer-nav nav.block ul li:nth-last-child(1) a:after {
        content: " "; }
.footer-nav .block.copy {
  width: 100%; }
  .footer-nav .block.copy h6 {
    margin: 0;
    color: #2b2b2b; }

.field-with-error {
  background-color: #F9DEDE !important;
  border-bottom: 1px solid #F44949 !important; }

/* this stops Firefox putting a red border around required input fields */
input:invalid {
  box-shadow: none; }

.advice {
  font-size: small; }

input.ng-pristine + ul#strength {
  display: none; }

ul#strength {
  display: inline-block;
  list-style: none;
  margin: 0;
  margin-left: 15px;
  padding: 3px 0 5px 0;
  vertical-align: 2px; }

/* show/hide animation for angular*/
.animate-show-hide.ng-hide {
  opacity: 0; }

.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s; }

.red {
  color: red; }

.green {
  color: green; }

.small {
  font-size: small; }

/* loading bar displayed before payment screen */
/* Found at https://www.pexels.com/blog/css-only-loaders/ */
.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd; }

.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite; }

@keyframes loading {
  from {
    left: -200px;
    width: 30%; }
  50% {
    width: 30%; }
  70% {
    width: 70%; }
  80% {
    left: 50%; }
  95% {
    left: 120%; }
  to {
    left: 100%; } }
/* ------------------------------------------------------------- */
a.devtooltip {
  color: red !important; }

a.devtooltip span {
  font-size: 10px;
  position: absolute;
  z-index: 999;
  white-space: nowrap;
  bottom: 9999px;
  left: 50%;
  background: #EFEEB3 !important;
  color: #DB111E !important;
  padding: 0px 7px;
  line-height: 24px;
  height: 24px;
  opacity: 0;
  transition: opacity 0.4s ease-out; }

a.devtooltip span::before {
  content: "";
  display: block;
  border-left: 6px solid #000000 !important;
  border-top: 6px solid transparent;
  position: absolute;
  top: -6px;
  left: 0px; }

a.devtooltip:hover span {
  opacity: 1;
  bottom: -35px; }

/*# sourceMappingURL=main.css.map */
